#font-face{

font-family: 'Courier New', Courier, monospace;

font-weight: normal;
font-style: italic;

}


h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 2500;
    color: #0ccac4;
}






